* {
    margin:0;
    padding: 0;
    outline: none;
}

body {

background: linear-gradient(45deg, #FC4668, #3F5EFB);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container { 
    position: relative;
}

form {
    background:  rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 420px;
    border-radius: 20px;
    border-left: 1px, solid, rgba(255, 255, 255, .3);
    border-top: 1px solid, rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}

p {
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


input {
background: transparent;
border-left: 1px solid rgba(255, 255, 255, .3);
border-top: 1px solid rgba(255, 255, 255, .3);
padding: 1rem;
width: 200px;
border-radius: 50px;
backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
color: white;
font-weight: 500;
text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
transition: all -3s;
margin-bottom: 2px;
}

::placeholder {
    color: white;
}

input:hover,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    background: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
}

input[type="button"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
    border-color: white
}

.drop {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .2);
}

.drop-1 {
    height: 80px; width: 80px;
    top: -20px; left: -40px;
    z-index: -1;
}


.drop-2 {
    height: 80px; width: 80px;
    bottom: -20px; right: -45px;
}

.drop-3 {
    height: 100px; width: 100px;
    bottom: 120px; right: -50px;
    z-index: -1;
}

.drop-4 {
    height: 120px; width: 120px;
    top: -60px; right: -50px;
}


.drop-5 {
    height: 60px; width: 60px;
    bottom: 170px; right: 90px;
    z-index: -1;
}






















